@media (max-width: 991px) {
  .lang-toogle {
    display: none;
  }
  .nav-list {
    display: none;
  }

  .burger-menu {
    display: block;
    margin-right: 20px;
  }
  .numbers {
    /* display: flex; */
    flex-direction: column;
    align-items: start;
  }
  .num-box {
    width: 100%;
  }
  .get-app-box {
    display: none;
  }
  .download-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .hero {
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .hero-text {
    padding-top: 150px;
    padding-bottom: 20px;
  }
  .subscribe-hero {
    margin: 0 auto;
    width: 80%;
  }

  .card-container {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 20px;
  }

  .cards-wrapper {
    display: flex;
    gap: 20px;
  }

  .card,
  .main-card {
    min-width: 200px; /* Adjust this width as needed */
    flex: 0 0 auto;
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .card-el1,
  .card-el2 {
    margin: 10px 0;
  }

  .swiper-slide {
    height: 296px;
    width: 331px;
  }

  .get-app-container {
    flex-direction: column;
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .get-app-content {
    margin: 0;
  }
  .get-app-title-querry {
    display: block;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    margin-top: 40px;
    order: -2;
  }
  .get-app-title {
    display: none;
  }
  .get-app-img {
    order: -1;
    width: 370px;
    height: 482px;
  }

  .get-app-descriprion {
    padding-top: 30px;
  }

  .download-box {
    width: 90%;
    margin: 0 auto;
  }
  .footer-container {
    flex-direction: column;
    height: auto;
    padding-bottom: 50px;
  }
  .footer-list {
    display: none;
  }
  .accordion-container {
    display: block;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .bottom-text {
    order: -1;
  }
  .contact {
    border-top: 1px solid rgb(239, 241, 241);
  }

  .contact p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .contact p:first-child {
    font-size: 24px;
  }
  .footer-bottom {
    padding-top: 40px;
    align-items: start;
    gap: 20px;
    height: auto;
    padding-bottom: 40px;
  }
}

/* @media (max-width: 991px) {
  nav {
    padding-right: 20px;
  }

  .hero-text {
    padding-left: 20px;
  }
  .welcome-text,
  .welcome button,
  .card-container p:first-child {
    padding-left: 20px;
  }

  .welcome button {
    padding-bottom: 40px;
  }
  main {
    height: auto;
    padding-bottom: 20px;
  }
  .card-container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .card {
    align-self: center;
  }

  .btn-prev {
    display: none;
  }
  .btn-next {
    display: none;
  }

  .accordion {
    padding: 0 20px 0 20px;
  }

  .footer-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact {
    right: 20px;
  }
}

@media (max-width: 850px) {
  .partners {
    margin-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
  }

  .dots {
    bottom: 5%;
  }

  .carousel-container {
    min-height: 562px;
  }
  .partners {
    min-height: 359px;
  }

  .dots {
    bottom: 10%;
  }
}

@media (max-width: 750px) {
  .nav-list {
    gap: 30px;
  }
}

@media (max-width: 650px) {
  .card-container {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
  nav {
    display: none;
  }
  .burger-menu {
    display: block;
    margin-right: 20px;
  }

  .accordion-container {
    position: relative;
    margin-bottom: 70px;
  }

  .FAQ button {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 450px) {
  .footer-container {
    padding-top: 30px;
  }
  .contact {
    position: static;
  }
  .footer-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
  }
  .footer-logos img:first-child {
    grid-column: 1/-1;
  }
  .social {
    justify-self: end;
  }
} */
